ExpertOrderManagement/ExpertOrderManagement/bin/
ExpertOrderManagement/ExpertOrderManagement/obj/
ExpertOrderManagement/BusinessLogic/obj/
ExpertOrderManagement/BusinessLogic/bin/
ExpertOrderManagement/DataBase/obj/
ExpertOrderManagement/DataBase/bin/
ExpertOrderManagement/CommonLibraries/bin/
ExpertOrderManagement/CommonLibraries/obj/
ExpertOrderManagement/OrderAdminPanel/obj/
ExpertOrderManagement/OrderAdminPanel/bin/
ExpertOrderManagement/Admin.DAL/obj/
ExpertOrderManagement/OrderAdminPanel/Content/PdfReports/
ExpertOrderManagement/Admin.DAL/bin/
ExpertOrderManagement/Admin.BusinessLogic/bin/
ExpertOrderManagement/Admin.BusinessLogic/obj/
ExpertOrderManagement/ExpertOrderManagement/Content/Database Backups/
ExpertOrderManagement/ExpertDistributorApp/ExpertDistributorApp/bin/
ExpertOrderManagement/Distributor.DAL/obj/
ExpertOrderManagement/Distributor.DAL/bin/
ExpertOrderManagement/Distributor.BusinessLogic/obj/
ExpertOrderManagement/ExpertDistributorApp/ExpertDistributorApp/obj/
ExpertOrderManagement/Distributor.BusinessLogic/bin/
ExpertOrderManagement/ExpertDistributorApp/ExpertDistributorApp/Content/PdfReports/
