ExpertOrderManagement/ExpertOrderManagement/bin/
ExpertOrderManagement/BusinessLogic/obj/
ExpertOrderManagement/BusinessLogic/bin/
ExpertOrderManagement/DataBase/obj/
ExpertOrderManagement/ExpertOrderManagement/obj/
ExpertOrderManagement/CommonLibraries/bin/
ExpertOrderManagement/CommonLibraries/obj/
